{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 100,
  "tabWidth": 2,
  "overrides": [
    {
      "files": ["*.md"],
      "options": {
        "semi": false,
        "singleQuote": false
      }
    }
  ]
}